/*
  File: styles.css
  Author: Korcsmaros Kende Andras
  Copyright: 2023, Korcsmaros Kende Andras
  Group: Szoft II/N
  Date: 2023.01.17
  Github: https://github.com/KendeAndras/
  Licenc: GNU GPL
*/

@import "~bootstrap/dist/css/bootstrap.css";